<footer class="footer">
  <section>
    <p style="text-align:center">Designed by
      <a target="_blank" href="https://github.com/blackberrymamba" title="blackberrymamba">blackberrymamba</a>. Licensed under the
      <a target="_blank" href="https://github.com/blackberrymamba/somecode-theme/LICENSE" title="MIT License">MIT License</a>.</p>
  </section>
</footer>

</main>
<script src="{{ theme_url }}/assets/js/highlight.pack.js"></script>
<script src="{{ theme_url }}/assets/js/vanilla.js"></script>
</body>

</html>
