html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;;
  /*font-size: 62.5%;*/
}

body {
  max-width: 62em;;
  margin: 0 auto;
  color: #222;
  background: #fff;
  font-size: 15px;
  line-height: 1.618;
  letter-spacing: .01em;
  transition: 0.3s all;
  padding: 15px;
}

h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  line-height: 1.1;
  word-wrap: break-word;
}

h1 {
  font-size: 2.35em;
}

h2 {
  font-size: 2.00em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

small, sub, sup {
  font-size: 75%;
}

p {
  text-align: justify;
}

hr {
  border: 0;
  border-bottom: 1px solid #dadada;
}

a {
  color: #484848;
  border-bottom: 1px dotted #484848;
  text-decoration: none;
}

a:hover {
  color: #222;
  border-bottom: none;
  transition: 0.3s all;
}

blockquote {
  margin-left: 1.5em;
  padding-left: 1em;
  border-left: 3px solid #0082D2;
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
}

pre {
  margin-bottom: 2.5rem;
  overflow-y: hidden;
  border-left: 0.3rem solid #0082D2;
  background: #1d1f21;
}

pre>code {
  display: block;
  padding: 1rem 1.5rem;
  border-radius: 0;
  white-space: pre;
}

code {
  margin: 0 .2rem;
  padding: .2rem .5rem;
  border-radius: .4rem;
    background-color: #EDEDED;
    border: solid #333333 1px;
  font-size: 86%;
  white-space: nowrap;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: justify;
}

td, th {
  padding: 0.5em;
  border-bottom: 1px solid #e1e1e1;
}

textarea {
  width: 100%;
}

.button, button {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    color: #222222;
    font-weight: bold;
    padding: 6px 12px;
    background-color: #EDEDED;
    border: solid #333333 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
}

.button[disabled], button[disabled] {
  opacity: .5;
  cursor: default;
}

.button:focus, .button:hover, button:focus, button:hover {
   background: #EDEDED;
    color: #222222;
   border: solid #0082D2 1px;
   -webkit-border-radius: 100px;
   -moz-border-radius: 100px;
   border-radius: 100px;
   text-decoration: none;
  transition: 0.2s all;
}

fieldset, legend {
  display: block;
  margin-bottom: .5rem;
}

label {
  display: inline-block;
  margin-right: 1.6rem;
  margin-bottom: .5rem;
}

input[type="checkbox"]+label, input[type="radio"]+label {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: .1rem;
}

.clearfix:after {
  content: ' ';
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.navigation {
  transition: 0.2s all;
}

.navigation.fixed {
  position: fixed;
  top: 0;
  max-width: 62em;;
  width: 100%;
  background: #fff;
}

.navbrand {
  width: 100%;
}

.navbrand a {
    border-bottom: none !important;
}

.navbrand a:hover {
    color: #0082D2;
}

.navbrand h1 {
  display: inline-block;
}

.openbtn {
  float: right;
  margin: 0.67em 30px;
  font-size: 2.35em;
  line-height: 1.1;
  cursor: pointer;
}

.openbtn:hover {
  border: 0;
}

.navmenu {
  z-index: -1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  padding-top: 5rem;
  opacity: 0;
  overflow-x: hidden;
  background-color: #4e4e4e;
  transition: 0.2s;
}

.navmenu ul {
  margin: 0 2rem;
  padding: 0;
  list-style-type: none;
}

.navmenu ul li {
  font-weight: 300;
}

.navmenu ul li.active {
  font-weight: 600;
}

.navmenu a {
  color: #fff;
  border: 0;
  text-transform: capitalize;
}

.navmenu .closebtn, .navmenu .closebtn:hover {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
  border: 0;
  font-size: 36px;
}

.footer {
  margin: 4rem 0;
}

.search {
  text-align: center;
  margin: 20px;
}

.search #search {
    margin: 0 10px;
    height: 24px;
    width: 50%;
    background: #d8d8d8;
    color: #181818;
    border-radius: 5px;
    padding: 5px;
    border: none;
}

.search #search:active {
  border: 1px solid #BFBFBF;
}

@media (prefers-color-scheme: dark) {
    body {
      color: #D8D8D8;
      background: #181818;
    }
    
    code {
        color: #EDEDED ;
        background-color: #222222;
    }
    
    a {
        color: #BFBFBF;
        border-bottom: 1px dotted #BFBFBF;
    }
    
    a:hover {
        color: #D8D8D8
    }
    
    .button, button {
        color: #EDEDED ;
        background-color: #222222;
    }

    .button:hover, button:hover {
        color: #EDEDED ;
        background-color: #222222;
    }
    
    td, th {
      border-bottom: 1px solid #555;
    }
    
    .navigation.fixed {
      background: #181818;
    }
  
    .search #search {
      background: #282828;
      color: #d8d8d8;
    }
}
