html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
        Helvetica, Arial, sans-serif;
    /*font-size: 62.5%;*/
}

body {
    margin: 0 auto;
    color: #222;
    background: #fff;
    font-size: 15px;
    line-height: 1.618;
    letter-spacing: 0.01em;
    transition: 0.3s all;
}

main {
    max-width: 100em;
    margin: auto;
    padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    line-height: 1.1;
    word-wrap: break-word;
}

h1 {
    font-size: 2.35em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

header {
    text-align: center;
    padding-top: 120px !important;
    padding: 15px;
}

header p {
    text-align: center;
}

small,
sub,
sup {
    font-size: 75%;
}

p {
    text-align: justify;
}

hr {
    border: 0;
    border-bottom: 1px solid #dadada;
}

a {
    color: #484848;
    border-bottom: 1px dotted #484848;
    text-decoration: none;
}

a:hover {
    color: #222;
    border-bottom: none;
    transition: 0.3s all;
}

blockquote {
    margin-left: 1.5em;
    padding-left: 1em;
    border-left: 3px solid #0082d2;
    font-style: italic;
}

img {
    max-width: 100%;
    height: auto;
}

pre {
    margin-bottom: 2.5rem;
    overflow-y: hidden;
    border-left: 0.3rem solid #0082d2;
    background: #1d1f21;
}

pre > code {
    display: block;
    padding: 1rem 1.5rem;
    border-radius: 0;
    white-space: pre;
}

code {
    margin: 0 0.2rem;
    padding: 0.2rem 0.5rem;
    border-radius: 0.4rem;
    background-color: #ededed;
    border: solid #333333 1px;
    font-size: 86%;
    white-space: nowrap;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: justify;
}

td,
th {
    padding: 0.5em;
    border-bottom: 1px solid #e1e1e1;
}

textarea {
    width: 100%;
}

.button,
button {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    color: #222222;
    font-weight: bold;
    padding: 6px 12px;
    background-color: #ededed;
    border: solid #333333 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
}

.button[disabled],
button[disabled] {
    opacity: 0.5;
    cursor: default;
}

.button:focus,
.button:hover,
button:focus,
button:hover {
    background: #ededed;
    color: #222222;
    border: solid #0082d2 1px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    text-decoration: none;
    transition: 0.2s all;
}

fieldset,
legend {
    display: block;
    margin-bottom: 0.5rem;
}

label {
    display: inline-block;
    margin-right: 1.6rem;
    margin-bottom: 0.5rem;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 15px;
    font-size: 1.4em;

    background: rgb(255, 255, 255);
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.6) 60%,
        rgba(255, 255, 255, 0) 100%
    );
}

.footer {
    margin: 4rem 0;
}

.search {
    text-align: center;
    margin: 20px;
}

.search #search {
    margin: 0 10px;
    height: 24px;
    width: 50%;
    background: #d8d8d8;
    color: #181818;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #d8d8d8;
}

.search #search:focus {
    border: 1px solid #bfbfbf;
}

.turquoise,
.green,
.blue,
.pink,
.black,
.orange,
.red,
.grey {
    border-radius: 5px;
    padding: 5px;
}

.turquoise {
    background: rgba(26, 188, 156, 0.4);
}

.green {
    background: rgba(46, 204, 113, 0.4);
}

.blue {
    background: rgba(52, 152, 219, 0.4);
}

.pink {
    background: rgba(155, 89, 182, 0.4);
}

.black {
    background: rgba(44, 62, 80, 0.4);
    color: #fff !important;
}

.orange {
    background: rgba(243, 156, 18, 0.4);
}

.red {
    background: rgba(192, 57, 43, 0.4);
}

.grey {
    background: rgba(189, 195, 199, 0.5);
    color: #181818 !important;
}

.row {
    display: grid; 
    grid-gap: 10px;
}

@media only screen and (max-width: 600px) {
    .row {
        display: unset;
    }
    
    .row .col {
        display: block;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: #d8d8d8;
        background: #181818;
    }

    code {
        color: #ededed;
        background-color: #222222;
    }

    a {
        color: #bfbfbf;
        border-bottom: 1px dotted #bfbfbf;
    }

    a:hover {
        color: #d8d8d8;
    }

    .button,
    button {
        color: #ededed;
        background-color: #222222;
    }

    .button:hover,
    button:hover {
        color: #ededed;
        background-color: #222222;
    }

    td,
    th {
        border-bottom: 1px solid #555;
    }

    .navigation {
        background: rgb(24, 24, 24);
        background: linear-gradient(
            180deg,
            rgba(24, 24, 24, 1) 0%,
            rgba(24, 24, 24, 0.6) 60%,
            rgba(24, 24, 24, 0) 100%
        );
    }

    .search #search {
        background: #282828;
        color: #d8d8d8;
        border: 1px solid #282828;
    }
}
